In [23]:
import requests
import json
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objects as go

In [26]:
base_url = "https://www.alphavantage.co/query"
function = 'TIME_SERIES_DAILY'
symbol = 'AMD'
outputsize = 'compact'
datatype = 'json'
apikey = 'PON TU KEY AQUI'

params = {
    'function': function,
    'symbol': symbol,
    'outputsize':outputsize,
    'datatype':datatype,
    'apikey':apikey
}

In [27]:
resultados = requests.get(base_url, params=params)
resultados.status_code

200

In [28]:
tesla = resultados.json()
df = pd.DataFrame(tesla['Time Series (Daily)'])
for columna in df.columns:
    df[columna] = pd.to_numeric(df[columna])
df

,2021-08-31,2021-08-30,2021-08-27,2021-08-26,2021-08-25,2021-08-24,2021-08-23,2021-08-20,2021-08-19,2021-08-18,...,2021-04-23,2021-04-22,2021-04-21,2021-04-20,2021-04-19,2021-04-16,2021-04-15,2021-04-14,2021-04-13,2021-04-12
1. open,1.112600e+02,1.126100e+02,108.01,1.085700e+02,108.13,109.45,1.052950e+02,104.32,1.033150e+02,107.35,...,80.21,81.61,78.99,80.82,82.13,83.30,80.32,7.988000e+01,79.67,8.205500e+01
2. high,1.112600e+02,1.144899e+02,111.78,1.092299e+02,109.91,109.61,1.090200e+02,105.98,1.061800e+02,108.07,...,83.30,81.79,81.66,81.11,83.18,83.59,83.95,8.013000e+01,80.72,8.218000e+01
3. low,1.090343e+02,1.112600e+02,107.80,1.068400e+02,107.45,107.28,1.048600e+02,103.99,1.019750e+02,103.27,...,79.96,78.59,78.86,78.51,80.39,81.53,79.97,7.793500e+01,78.98,7.803000e+01
4. close,1.107200e+02,1.113200e+02,111.40,1.072700e+02,108.30,107.65,1.087700e+02,104.65,1.037000e+02,103.44,...,82.76,79.06,81.61,79.27,81.11,82.15,83.01,7.855000e+01,80.19,7.858000e+01
5. volume,4.926632e+07,5.613047e+07,61030014.00,5.144255e+07,45485504.00,51239297.00,6.883528e+07,55227562.00,7.111749e+07,79387943.00,...,49267281.00,38846050.00,35068955.00,34977750.00,39115461.00,47280570.00,68942819.00,3.426383e+07,37767257.00,6.209880e+07

In [35]:
data = [go.Line(x=df.columns, y=df.iloc[1]),go.Line(x=df.columns, y=df.iloc[1]*1.5), go.Line(x=df.columns, y=df.iloc[1]*-1.5)]
layout = go.Layout(title=symbol)

fig = go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'