In [2]:
lista = [1,2,3,4,['a','b','c',['CDMX','Tokyo']]]

In [3]:
lista

[1, 2, 3, 4, ['a', 'b', 'c', ['CDMX', 'Tokyo']]]

In [5]:
lista[2]

3

In [7]:
lista[4][0]

'a'

In [10]:
lista[4][3][1]

'Tokyo'

# Casteo de estructuras de datos

In [12]:
lista

[1, 2, 3, 4, ['a', 'b', 'c', ['CDMX', 'Tokyo']]]

In [13]:
type(lista)

list

In [14]:
tupla = tuple(lista)

In [15]:
tupla

(1, 2, 3, 4, ['a', 'b', 'c', ['CDMX', 'Tokyo']])

In [16]:
lista

[1, 2, 3, 4, ['a', 'b', 'c', ['CDMX', 'Tokyo']]]

In [17]:
lista[0]='Charly'

In [18]:
lista

['Charly', 2, 3, 4, ['a', 'b', 'c', ['CDMX', 'Tokyo']]]

In [19]:
tupla

(1, 2, 3, 4, ['a', 'b', 'c', ['CDMX', 'Tokyo']])

In [21]:
tupla[0] = 'Charly'

TypeError: 'tuple' object does not support item assignment

In [22]:
tupla[4][0]='lol'

In [23]:
tupla

(1, 2, 3, 4, ['lol', 'b', 'c', ['CDMX', 'Tokyo']])

In [24]:
tupla = (1, 2, 3, 4, ['lol', 'b', 'c', ('CDMX', 'Tokyo')])

In [25]:
tupla

(1, 2, 3, 4, ['lol', 'b', 'c', ('CDMX', 'Tokyo')])


# Sets

In [26]:
setPrueba = {'Charly','Omar','Samuel','Samuel'}

In [31]:
setPrueba

{'Charly', 'Omar', 'Samuel'}

In [38]:
print(setPrueba)

{'Charly', 'Samuel', 'Omar'}

In [40]:
tuSet = {(1,2,3),(1,2,3)}

In [41]:
tuSet

{(1, 2, 3)}

# Diccionarios

In [60]:
miDiccionario = {
                 'nombre':'Jose',
                 'edad':27,
                 'nacionalidad':'MXN',
                 'pasatiempos':['Ver Netflix', 'Comprar en Amazon']
                }

In [45]:
miDiccionario

{'nombre': 'Jose',
 'edad': 27,
 'nacionalidad': 'MXN',
 'pasatiempos': ['Ver Netflix', 'Comprar en Amazon']}

In [50]:
miDiccionario['nacionalidad']

'MXN'

In [51]:
#Jose tiene 27 anios y le gusta Comprar en Amazon

In [55]:
print(f"{miDiccionario['nombre']} tiene {miDiccionario['edad']} anios y le gusta {miDiccionario['pasatiempos'][1]}")

Jose tiene 27 anios y le gusta Comprar en Amazon

In [61]:
miDiccionario

{'nombre': 'Jose',
 'edad': 27,
 'nacionalidad': 'MXN',
 'pasatiempos': ['Ver Netflix', 'Comprar en Amazon']}

In [64]:
miDiccionario['domicilio'] = ''

In [65]:
miDiccionario

{'nombre': 'Jose',
 'edad': 27,
 'nacionalidad': 'MXN',
 'pasatiempos': ['Ver Netflix', 'Comprar en Amazon'],
 'domicilio': ''}

In [68]:
miDiccionario.items()

dict_items([('nombre', 'Jose'), ('edad', 27), ('nacionalidad', 'MXN'), ('pasatiempos', ['Ver Netflix', 'Comprar en Amazon']), ('domicilio', '')])

In [69]:
miDiccionario.keys()

dict_keys(['nombre', 'edad', 'nacionalidad', 'pasatiempos', 'domicilio'])

In [70]:
miDiccionario.values()

dict_values(['Jose', 27, 'MXN', ['Ver Netflix', 'Comprar en Amazon'], ''])